# Flake8 Configuration
#
# Flake8 is a Python source code linter.
#
# - Web site: https://flake8.pycqa.org/
# - Documentation: https://flake8.pycqa.org/

[flake8]
exclude =
  *.egg,
  *.egg-info,
  *.pyenv,
  .cache,
  .config,
  .eggs,
  .git,
  .idea,
  .local,
  .mypy_cache,
  .tox,
  .vscode,
  __pycache__,
  build,
  dist,
  docs,
  pyenv,
  test_reports,
  tmp

doctests = True
max-line-length = 100
show_source = True
statistics = False
