# Python Dependency Manifest
#
# Deployment environment: development, testing, release

-c requirements.txt

black==25.9.0
coverage==7.10.7
flake8-formatter-junit-xml==0.0.6
flake8==7.3.0
isort==6.1.0
mypy==1.18.2
pip-tools==7.5.2
tox==4.30.2
twine==6.2.0
unittest-xml-reporting==3.2.0
