# Python Dependency Manifest
#
# Deployment environment: development, testing, release

-c requirements.txt

black==24.8.0
coverage==7.6.1
flake8-formatter-junit-xml==0.0.6
flake8==7.1.1
isort==5.13.2
mypy==1.13.0
pip-tools==7.4.1
tox==4.23.2
twine==5.1.1
unittest-xml-reporting==3.2.0
