# Python Dependency Manifest
#
# Deployment environment: development, testing, release

-c requirements.txt

black==25.1.0
coverage==7.10.1
flake8-formatter-junit-xml==0.0.6
flake8==7.3.0
isort==6.0.1
mypy==1.17.1
pip-tools==7.4.1
tox==4.28.4
twine==6.1.0
unittest-xml-reporting==3.2.0
